# Chart artefacts
*.tgz
Chart.lock

# VS Code project folder
.vscode

# Environments
.venv*
env*/
venv*/
ENV/

# q licenses
k4.lic
kc.lic
kx.lic

# Mac specific files
.DS_Store

# Vim specific dev
.vimrc
.nvimrc
Session.vim

prometheus-data*

# Docker reference architecture data (bind-mounted db, logs, etc.)
referenceArchitectures/docker/kxi-ingest-persist/data/
referenceArchitectures/docker/kxi-ingest-transform-persist/data/
