name: insightsdb-tenant-{{ .Values.labels.shrd }}
description: InsightsDB Sharded Database, by tenant
labels:
  group: tenant
  shrd: {{ .Values.labels.shrd }}

tables:
  position:
    type: partitioned
    isSharded: true
    prtnCol: time
    sortColsDisk: [sym]
    columns:
      - name: time
        type: timestamp
      - name: sym
        type: symbol
        attrDisk: parted
      - name: tenant
        type: symbol
      - name: position
        type: long

bus:
  stream:
    protocol: rt
    topic: {{ .Values.stream.name }}

mounts:
  rdb:
    type: stream
    baseURI: none
    partition: none
  idb:
    type: local
    baseURI: file:///mnt/db/idb
    partition: ordinal
  hdb:
    type: local
    baseURI: file:///mnt/db/hdb
    partition: date

elements:
  dap:
    instances:
      dap:
        mountList: 
          - rdb
          - idb
          - hdb

  sm:
    description: Storage manager
    source: stream
    tiers:
      - name: stream
        mount: rdb
      - name: idb
        mount: idb
        schedule:
          freq: 0D00:10:00 # every 10 minutes
      - name: hdb1
        mount: hdb
        store: file:///mnt/db/hdb
        schedule:
          freq: 1D00:00:00 # every day
          snap:   01:35:00 # at 1:35 AM
        retain:
          time: 2 days
      - name: hdb2
        mount: hdb
        store: file:///mnt/db/hdbt2
        retain:
          time: 5 weeks
      - name: hdb3
        mount: hdb
        store: file:///mnt/db/hdbt3
        retain:
          time: 3 months
    disableDiscovery: true
