# Default values for kxi-api.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates of subcharts.

# Anchor to set common values for the sub-charts in this reference architecture
.common_values: &common_values
  imagePullSecrets:
    - name: kx-pull-secret

  # You must set your license name. Default is 'kc.lic'
  # Available types are:
  #  - kc.lic
  #  - k4.lic
  #  - kx.lic
  kxLicenseName: kc.lic

# Values for kxi-gw sub-chart
kxi-gw:
#  common values from anchors on the top
  <<: *common_values
  # Default Resource Coordinator configuration for Insights Gateway chart components
  kxiRc:
    # Sets the available free string queries available for the RC.
    # Each has security and performance implications.
    # More info: https://code.kx.com/insights/api/kxi-python/query.html#qsql
    allowedSbxApis: .kxi.sql,.kxi.qsql,.kxi.sql2

    # Default common environment variables for the Resource Coordinator
    # Additional ENVs can be added and these overridden in custom values files
    # If overriding 'envs', ensure you include all the default values.
    envs:
      - name: KXI_LOG_FORMAT
        value: text
      - name: KXI_LOG_LEVELS
        value: default:debug

  # Default Service Gateway configuration for Insights Gateway chart components
  kxiSg:
    # This sets the number of replicas for the Service Gateway.
    # More information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#replicas-and-scaling
    replicaCount: 1
    # Default common environment variables for the Service Gateway
    # Additional ENVs can be added and these overridden in custom values files
    # If overriding 'envs', ensure you include all the default values.
    envs:
      - name: KXI_LOG_FORMAT
        value: text
      - name: KXI_LOG_LEVELS
        value: default:debug
      # Enables CORS headers to allow external domains to access the Service Gateway
      - name: KXI_SG_CORS_ENABLED
        value: "false"
      # Comma separated list of the full FQDN remote domains which are allowed to access the Service Gateway
      - name: KXI_SG_CORS_ORIGINS
        value: ""
      # Can set JAVA_OPTS for advance memory configurations
      # - name: JAVA_OPTS
      #   value: "-Xms268435456 -Xmx2080374784 -XX:MaxDirectMemorySize=2080374784"

  # Default Aggregator configuration for Insights Gateway chart components
  kxiAgg:
    # This sets the number of replicas for the Aggregator.
    # More information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#replicas-and-scaling
    replicaCount: 1

    # Allows for custom code to be loaded into the Aggregator specifically for UDAs typically deployed in a kxi-db chart.
    # If customCode.configMap is populated there should be a configmap deployed by that name and it will be mounted into the Aggregator
    # The entrypoint should be the name of the file which is executed to load the custom code
    # More information can be found here: https://code.kx.com/insights/1.15/microservices/database/configuration/uda.html#load-uda
    customCode:
      configMap: ""
      entry: ""
      # configMap: "kxi-db-customcode"
      # entry: "udas.q"

    # This is for setting up a service
    # More information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
    service:
      type: ClusterIP
      port: 5060
      # This sets the service annotations for the Aggregator.
      # For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
      annotations: { }

    # Default common environment variables for the Aggregator
    # Additional ENVs can be added and these overridden in custom values files
    # If overriding 'envs', ensure you include all the default values.
    envs:
      - name: KXI_LOG_FORMAT
        value: text
      - name: KXI_LOG_LEVELS
        value: default:debug
      # Custom q code can be loaded into the aggregator from mounted file systems
      #  - name: KXI_CUSTOM_FILE
      #    value: /opt/kx/dev/custom_agg_api.q
