# Default values for kxi-db-shard.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Anchor to set common values for the sub-charts in this reference architecture
.common_values: &common_values
  imagePullSecrets:
    - name: kx-pull-secret

  # You must set your license name. Default is 'kc.lic'
  # Available types are:
  #  - kc.lic
  #  - k4.lic
  #  - kx.lic
  kxLicenseName: kc.lic

  # Values for kxi-db sub-chart
kxi-db:
#  common values from anchors on the top
  <<: *common_values

  # Defines whether the InsightsDB has lateData enabled
  # More info on lateData - https://code.kx.com/insights/microservices/database/query/late-data.html#configuring-late-data
  lateData: false

  # Defines the RT stream name associated with the deployed InsightsDB instance. 
  # With prefix must match the deployed name of the RT stream minus replica number
  stream:
    prefix: "rt-"
    name: ""

  # This defines the assembly file to be loaded into the InsightsDB.
  # It should be on the base directory of the chart folder under `kxi-db`
  # More info: https://code.kx.com/insights/microservices/database/configuration/assembly/database.html
  assembly:
    filename: assembly.yaml

  # InsightsDB storage configurations
  # This must be configured before deployment
  db:
    # Intraday persistent storage configuration
    idb:
      # Defines the storageClassNames for all the persistent data storage in the InsightsDB
      # This should map to Kubernetes storageClassNames with accessMode of RWM
      # More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
      storageClassName: ""
      # storageClassName: "fsx-lustre"
      # Size of the Intraday persistent storage
      size: ""
      # size: "20Gi"
    # HDB Tier 1 persistent storage configuration
    hdbt1:
      # Defines the storageClassNames for all the persistent data storage in the InsightsDB
      # This should map to Kubernetes storageClassNames with accessMode of RWM
      # More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
      storageClassName: ""
      # storageClassName: "fsx-lustre"
      # Size of the HDB Tier 1 persistent storage
      size: ""
      # size: "20Gi"
    # HDB Tier 2 persistent storage configuration
    hdbt2:
      # Defines the storageClassNames for all the persistent data storage in the InsightsDB
      # This should map to Kubernetes storageClassNames with accessMode of RWM
      # More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
      storageClassName: ""
      # storageClassName: "fsx-lustre"
      # Size of the HDB Tier 2 persistent storage
      size: ""
      # size: "20Gi"
    # HDB Tier 3 persistent storage configuration
    hdbt3:
      # Defines the storageClassNames for all the persistent data storage in the InsightsDB
      # This should map to Kubernetes storageClassNames with accessMode of RWM
      # More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes
      storageClassName: ""
      # storageClassName: "fsx-lustre"
      # Size of the HDB Tier 3 persistent storage
      size: ""
      # size: "20Gi"
  kxiDa:
    # This sets the number of replicas for the DA.
    # More information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#replicas-and-scaling
    replicaCount: 1

    # Entrypoint for custom code written under 'customcode'
    # create your custom code and UDAs under here and it will be loaded into the DA under /opt/kx/packages/{customCodeEntry}.q
    # More information can be found here: https://code.kx.com/insights/1.15/microservices/database/configuration/uda.html#load-uda
    customCodeEntry: udas.q

    # This is for setting up a service and the port in use by the DA
    # More information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
    service:
      port: 5040
      # This sets the service annotations for the DAP.
      # For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
      annotations: { }

    # This defines how much storage should be assigned for rt logs storage in the DA
    rtLogs:
      size: 2Gi

    # Sets the available free string queries available for the DA.
    # Each has security and performance implications.
    # More info: https://code.kx.com/insights/api/kxi-python/query.html#qsql
    allowedSbxApis: .kxi.sql,.kxi.qsql,.kxi.sql2
    # Defines whether InsightsDB is secured to prevent qsql-based string executions
    # If enabled only API function queries will be allowed on the InsightsDB
    secureEnabled: false
    # Defines the name and port of the RC to allow the data to be accessed via queries
    # This must be set to the appropriate full FQDN RC service and port
    rcAddr: ""
    # This should include RELEASENAME that will be used for deployment to have final value as RELEASENAME-kxi-gw-rc:5040
    # rcAddr: "kxi-gw-rc:5040"

    # Links the DA to the appropriate service class configuration in your assembly
    # under 'elements.dap.instances'
    # More info: https://code.kx.com/draft/insights/enterprise/database/configuration/package/storage.html#environment-variables
    serviceClassConfig: dap

    # Default common environment variables for the DA
    # Additional ENVs can be added and these overridden in custom values files.
    # If overriding 'envs', ensure you include all the default values.
    envs:
      - name: KXI_LOG_FORMAT
        value: text
      - name: KXI_LOG_LEVELS
        value: default:debug
      # RT running in single node mode
      # More info: https://code.kx.com/insights/microservices/rt/quickstart/docker-compose.html#running-a-one-node-rt
      # - name: RT_REPLICAS
      #   value: 1

# Values for kxi-rt sub-chart
kxi-rt:
#  common values from anchors on the top
  <<: *common_values

  # This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
  #  if the replicaCount is set to 1 to enable single node RT then please add ENVs for kxiDs component in kxi-db (kxi-db.kxiDa.envs) mentioned above.
  replicaCount: 3

  # Can provide any valid q runtime argument here. Full details https://code.kx.com/q/basics/cmdline/
  # Additionally RT archival configuration can be provided here. More information see - https://code.kx.com/insights/microservices/rt/index.html#archiver
  args: ["-time" , "10080", "-disk", "90"]

  # Additional ENVs can be added and these overridden in custom values files
  # For RT configuration options see - https://code.kx.com/insights/enterprise/configuration/rt-archival.html#raft-log-retention  
  envs:
    - name: RT_LOGLEVEL_CONSOLE
      value: "INFO"
    - name: RT_QURAFT_LOG_LEVEL
      value: "INFO"
    - name: RT_LOG_LEADER
      value: "1"

  # This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
  service:
    # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
    type: ClusterIP
    # This sets the service annotations for the Internal RT Service.
    # For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
    annotations: { }

  # This is for setting up a additional external services
  # Setting type to LoadBalancer and enabling will expose endpoints external to cluster.
  # more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
  externalService:
    enabled: false
    # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
    type: LoadBalancer
    # This sets the service annotations for the External RT Service.
    # For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
    annotations: { }
    # This allows you to specify your LoadBalancer's external IP address
    # Should specify one per replica. e.g. 'replicaCount: 3', three IPs should be listed.
    # For more information checkout: https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer
    loadBalancerIPs: { }

  persistence:
    # Capacity of claim.
    capacity: 2Gi

